client
proto {{ openvpn_proto }}
dev {{ openvpn_dev }}
remote {{ openvpn_server_ip }} {{ openvpn_port }}
nobind
persist-key
persist-tun
ca ca.crt
cert client1.crt
key client1.key
cipher {{ openvpn_cipher }}
